body {
  background: #e7e7e7;
}

div {
  margin: 0 auto;
  width: 20px;
  height: 18px;
}
.edward-elric {
  box-shadow:
    10px 5px 0 #000,
    30px 5px 0 #000,
    50px 5px 0 #000,
    70px 5px 0 #000,
    0 23px 0 #000,
    20px 23px 0 #FCFE10,
    40px 23px 0 #FCFE10,
    60px 23px 0 #FCFE10,
    80px 23px 0 #FCFE10,
    100px 23px 0 #000,
    120px 23px 0 #000,
    240px 23px 0 #000,
    260px 23px 0 #000,
    280px 23px 0 #000,
    -20px 41px 0 #000,
    0 41px 0 #000,
    20px 41px 0 #000,
    40px 41px 0 #000,
    60px 41px 0 #000,
    80px 41px 0 #FCFE10,
    100px 41px 0 #FCFE10,
    120px 41px 0 #FCFE10,
    140px 41px 0 #000,
    160px 41px 0 #000,
    180px 41px 0 #000,
    200px 41px 0 #000,
    220px 41px 0 #000,
    240px 41px 0 #FCFE10,
    260px 41px 0 #FCFE10,
    280px 41px 0 #FCFE10,
    300px 41px 0 #000,
    20px 59px  #000,
    40px 59px 0 #FBCF02,
    60px 59px 0 #FBCF02,
    80px 59px  #000,
    100px 59px  #000,
    120px 59px 0 #FCFE10,
    140px 59px 0 #FCFE10,
    160px 59px 0 #000,
    180px 59px 0 #FBCF02,
    200px 59px 0 #000,
    220px 59px 0 #FCFE10,
    240px 59px 0 #FCFE10,
    260px 59px 0 #FCFE10,
    280px 59px 0 #FCFE10,
    300px 59px 0 #FCFE10,
    320px 59px 0 #000,
    0 77px 0 #000,
    20px 77px 0 #FCFE10,
    40px 77px 0 #FCFE10,
    60px 77px 0 #FCFE10,
    80px 77px 0 #FBCF02,
    100px 77px 0 #FBCF02,
    120px 77px 0 #000,
    120px 77px 0 #FCFE10,
    140px 77px 0 #FCFE10,
    160px 77px 0 #FCFE10,
    180px 77px 0 #000,
    200px 77px 0 #FCFE10,
    220px 77px 0 #FCFE10,
    240px 77px 0 #FCFE10,
    260px 77px 0 #FCFE10,
    280px 77px 0 #FCFE10,
    300px 77px 0 #FCFE10,
    320px 77px 0 #FCFE10,
    340px 77px 0 #000,
    -20px 95px 0 #000,
    0 95px 0 #FCFE10,
    20px 95px 0 #FCFE10,
    40px 95px 0 #FCFE10,
    60px 95px 0 #FCFE10,
    80px 95px 0 #FCFE10,
    100px 95px 0 #FCFE10,
    120px 95px 0 #FBCF02,
    140px 95px 0 #000,
    160px 95px 0 #FCFE10,
    180px 95px 0 #000,
    200px 95px 0 #FCFE10,
    220px 95px 0 #FCFE10,
    240px 95px 0 #FCFE10,
    260px 95px 0 #FCFE10,
    280px 95px 0 #FCFE10,
    300px 95px 0 #FCFE10,
    280px 95px 0 #FBCF02,
    320px 95px 0 #FBCF02,
    340px 95px 0 #FCFE10,
    360px 95px 0 #000,
    -20px 113px 0 #000,
    0 113px 0 #FCFE10,
    20px 113px 0 #FCFE10,
    40px 113px 0 #FCFE10,
    60px 113px 0 #FCFE10,
    80px 113px 0 #FCFE10,
    100px 113px 0 #FCFE10,
    120px 113px 0 #FCFE10,
    140px 113px 0 #FBCF02,
    160px 113px 0 #000,
    180px 113px 0 #000,
    200px 113px 0 #FCFE10,
    220px 113px 0 #FCFE10,
    240px 113px 0 #FCFE10,
    260px 113px 0 #FCFE10,
    280px 113px 0 #FCFE10,
    300px 113px 0 #FCFE10,
    320px 113px 0 #FCFE10,
    340px 113px 0 #FBCF02,
    360px 113px 0 #000,
    -40px 131px 0 #000,
    -20px 131px 0 #FCFE10,
    0 131px 0 #FCFE10,
    20px 131px 0 #FCFE10,
    40px 131px 0 #FCFE10,
    60px 131px 0 #FCFE10,
    80px 131px 0 #000,
    100px 131px 0 #FCFE10,
    120px 131px 0 #FCFE10,
    140px 131px 0 #000,
    160px 131px 0 #000,
    180px 131px 0 #000,
    200px 131px 0 #000,
    220px 131px 0 #000,
    240px 131px 0 #FCFE10,
    260px 131px 0 #FCFE10,
    280px 131px 0 #FCFE10,
    300px 131px 0 #FCFE10,
    320px 131px 0 #FCFE10,
    340px 131px 0 #FCFE10,
    360px 131px 0 #FBCF02,
    380px 131px 0 #000,
    -60px  149px 0 #000,
    -40px 149px 0 #FCFE10,
    -20px 149px 0 #FCFE10,
    0px 149px 0 #FBCF02,
    20px 149px 0 #FCFE10,
    40px 149px 0 #FCFE10,
    60px 149px 0 #FCFE10,
    80px 149px 0 #000,
    80px 149px 0 #FCFE10,
    100px 149px 0 #FCFE10,
    120px 149px 0 #000,
    140px 149px 0 #C99500,
    160px 149px 0 #000,
    180px 149px 0 #000,
    200px 149px 0 #C99500,
    220px 149px 0 #C99500,
    240px 149px 0 #000,
    260px 149px 0 #FCFE10,
    280px 149px 0 #FCFE10,
    300px 149px 0 #FBCF02,
    320px 149px 0 #FCFE10,
    340px 149px 0 #FCFE10,
    360px 149px 0 #FBCF02,
    380px 149px 0 #000,
    -80px 167px 0 #000,
    -60px 167px 0 #FCFE10,
    -40px 167px 0 #FBCF02,
    -20px 167px 0 #FBCF02,
    0 167px 0 #000,
    20px 167px 0 #FCFE10,
    40px 167px 0 #FCFE10,
    60px 167px 0 #FCFE10,
    80px 167px 0 #000,
    100px 167px 0 #FCFE10,
    120px 167px 0 #000,
    140px 167px 0 #C99500,
    160px 167px 0 #000,
    180px 167px 0 #000,
    200px 167px 0 #C99500,
    220px 167px 0 #C99500,
    240px 167px 0 #000,
    260px 167px 0 #FCFE10,
    280px 167px 0 #FCFE10,
    300px 167px 0 #FCFE10,
    320px 167px 0 #FBCF02,
    340px 167px 0 #FCFE10,
    360px 167px 0 #FBCF02,
    380px 167px 0 #000,
    -100px 185px 0 #000,
    -80px 185px 0 #000,
    -60px 185px 0 #000,
    -40px 185px 0 #000,
    -20px 185px 0 #000,
    0 185px 0 #FCFE10,
    20px 185px 0 #FCFE10,
    40px 185px 0 #FCFE10,
    60px 185px 0 #FCFE10,
    80px 185px 0 #000,
    100px 185px 0 #FCFE10,
    120px 185px 0 #000,
    140px 185px 0 #FBCF9E,
    160px 185px 0 #FBCFCC,
    180px 185px 0 #FBCFCC,
    200px 185px 0 #FBCFCC,
    220px 185px 0 #FBCF9E,
    240px 185px 0 #000,
    260px 185px 0 #FCFE10,
    280px 185px 0 #000,
    260px 185px 0 #FCFE10,
    280px 185px 0 #FBCF02,
    300px 185px 0 #FCFE10,
    320px 185px 0 #FBCF02,
    340px 185px 0 #FCFE10,
    360px 185px 0 #FBCF02,
    380px 185px 0 #000,
    -40px  203px 0 #000,
    -20px  203px 0 #FCFE10,
    0  203px 0 #FCFE10,
    20px  203px 0 #FCFE10,
    40px  203px 0 #FCFE10,
    60px  203px 0 #FCFE10,
    80px  203px 0 #000,
    100px  203px 0 #FCFE10,
    120px  203px 0 #000,
    140px  203px 0 #FBCF9E,
    160px  203px 0 #FBCFCC,
    180px  203px 0 #FBCFCC,
    200px  203px 0 #FBCFCC,
    220px  203px 0 #FBCF9E,
    240px  203px 0 #000,
    260px  203px 0 #FCFE10,
    280px  203px 0 #000,
    300px  203px 0 #FCFE10,
    320px  203px 0 #FBCF02,
    340px  203px 0 #FCFE10,
    360px  203px 0 #FBCF02,
    380px  203px 0 #000,
    -40px 221px 0 #000,
    -20px  221px 0 #FBCF02,
    0  221px 0 #FCFE10,
    20px  221px 0 #FCFE10,
    40px  221px 0 #FCFE10,
    60px  221px 0 #000,
    80px  221px 0 #FBCF9E,
    100px 221px 0 #000,
    120px 221px 0 #FCFE10,
    140px 221px 0 #000,
    160px 221px 0 #FBCFCC,
    180px 221px 0 #FBCFCC,
    200px 221px 0 #FBCFCC,
    220px 221px 0 #000,
    240px 221px 0 #FCFE10,
    260px 221px 0 #000,
    280px 221px 0 #FBCF9E,
    300px 221px 0 #000,
    320px 221px 0 #FCFE10,
    340px 221px 0 #FCFE10,
    360px 221px 0 #FBCF02,
    380px 221px 0 #000,
    -60px 239px 0 #000,
    -40px 239px 0 #FBCF02,
    -20px 239px 0 #FCFE10,
    0 239px 0 #FCFE10,
    20px 239px 0 #FCFE10,
    40px 239px 0 #FCFE10,
    60px 239px 0 #000,
    80px 239px 0  #FBCF9E,
    100px 239px 0 #000,
    120px 239px 0 #FCFE10,
    140px 239px 0 #000,
    160px 239px 0 #FBCFCC,
    180px 239px 0 #FBCFCC,
    200px 239px 0 #FBCFCC,
    220px 239px 0 #000,
    240px 239px 0 #000,
    260px 239px 0 #FBCF9E,
    280px 239px 0 #FBCF9E,
    300px 239px 0 #000,
    320px 239px 0 #FCFE10,
    340px 239px 0 #FCFE10,
    360px 239px 0 #FBCF02,
    380px 239px 0 #000,
    -60px 257px 0 #000,
    -40px 257px 0 #FBCF02,
    -20px 257px 0 #FCFE10,
    0 257px 0 #FCFE10,
    20px 257px 0 #FBCF02,
    40px 257px 0 #FCFE10,
    60px 257px 0 #000,
    80px 257px 0 #000,
    100px 257px 0 #000,
    120px 257px 0 #000,
    140px 257px 0 #FCFE10,
    160px 257px 0 #000,
    180px 257px 0 #FBCFCC,
    200px 257px 0 #000,
    220px 257px 0 #000,
    240px 257px 0 #000,
    260px 257px 0 #000,
    280px 257px 0 #000,
    300px 257px 0 #000,
    320px 257px 0 #FCFE10,
    340px 257px 0 #FBCF02,
    360px 257px 0 #FBCF02,
    380px 257px 0 #000,
    -60px 275px 0 #000,
    -40px 275px 0 #FBCF02,
    -20px 275px 0 #000,
    0 275px 0 #FBCF02,
    20px 275px 0 #FCFE10,
    40px 275px 0 #000,
    60px 275px 0 #CDCBF2,
    80px 275px 0 #FFF,
    100px 275px 0 #000,
    120px 275px 0 #000,
    140px 275px 0 #000,
    160px 275px 0 #FBCFCC,
    180px 275px 0 #FBCFCC,
    200px 275px 0 #FBCFCC,
    220px 275px 0 #000,
    240px 275px 0 #000,
    260px 275px 0 #FFF,
    280px 275px 0 #CDCBF2,
    300px 275px 0 #000,
    320px 275px 0 #FCFE10,
    340px 275px 0 #FBCF02,
    360px 275px 0 #000,
     -60px 293px 0 #000,
    -40px 293px 0 #FBCF02,
    -20px 293px 0 #000,
    0 293px 0 #FBCF02,
    20px 293px 0 #FCFE10,
    40px 293px 0 #000,
    60px 293px 0 #FFF,
    80px 293px 0 #000,
    100px 293px 0 #000,
    120px 293px 0 #000,
    140px 293px 0 #FBCFCC,
    160px 293px 0 #FBCFCC,
    180px 293px 0 #FBCFCC,
    200px 293px 0 #FBCFCC,
    220px 293px 0 #000,
    240px 293px 0 #000,
    260px 293px 0 #000,
    280px 293px 0 #FFF,
    300px 293px 0 #000,
    320px 293px 0 #FCFE10,
    340px 293px 0 #FBCF02,
    360px 293px 0 #000,
    -40px 311px 0 #000,
    -20px 311px 0 #000,
    0px 311px 0 #FBCF02,
    20px 311px 0 #FCFE10,
    40px 311px 0 #000,
    60px 311px 0 #000,
    80px 311px 0 #986202,
    100px 311px 0 #986202,
    120px 311px 0 #000,
    140px 311px 0 #FBCFCC,
    160px 311px 0 #FBCFCC,
    180px 311px 0 #FBCFCC,
    200px 311px 0 #FBCFCC,
    220px 311px 0 #000,
    240px 311px 0 #986202,
    260px 311px 0 #986202,
    280px 311px 0 #000,
    300px 311px 0 #000,
    320px 311px 0 #FCFE10,
    340px 311px 0 #FBCF02,
    360px 311px 0 #000,
    -20px 329px 0 #000,
    0px 329px 0 #FBCF02,
    20px 329px 0 #FCFE10,
    40px 329px 0 #000,
    60px 329px 0 #FBCF9E,
    80px 329px 0 #000,
    100px 329px 0 #000,
    120px 329px 0 #FBCFCC,
    140px 329px 0 #FBCFCC,
    160px 329px 0 #FBCFCC,
    180px 329px 0 #FBCFCC,
    200px 329px 0 #FBCFCC,
    220px 329px 0 #FBCFCC,
    240px 329px 0 #000,
    260px 329px 0 #000,
    280px 329px 0 #FBCF9E,
    300px 329px 0 #000,
    320px 329px 0 #FCFE10,
    340px 329px 0 #FBCF02,
    360px 329px 0 #000,
     -20px 347px 0 #000,
    0px 347px 0 #FBCF02,
    20px 347px 0 #FCFE10,
    40px 347px 0 #000,
    60px 347px 0 #FBCF9E,
    80px 347px 0 #FBCFCC,
    100px 347px 0 #FBCFCC,
    120px 347px 0 #FBCFCC,
    140px 347px 0 #FBCFCC,
    160px 347px 0 #FBCFCC,
    180px 347px 0 #FBCFCC,
    200px 347px 0 #FBCFCC,
    220px 347px 0 #FBCFCC,
    240px 347px 0 #FBCFCC,
    260px 347px 0 #FBCFCC,
    280px 347px 0 #FBCF9E,
    300px 347px 0 #000,
    320px 347px 0 #FCFE10,
    340px 347px 0 #FBCF02,
    360px 347px 0 #000,
    0px 365px 0 #000,
    20px 365px 0 #FCFE10,
    40px 365px 0 #000,
    60px 365px 0 #000,
    80px 365px 0 #FBCF9E,
    100px 365px 0 #FBCFCC,
    120px 365px 0 #FBCFCC,
    140px 365px 0 #FBCFCC,
    160px 365px 0 #000,
    180px 365px 0 #000,
    200px 365px 0 #FBCFCC,
    220px 365px 0 #FBCFCC,
    240px 365px 0 #FBCFCC,
    260px 364px 0 #FBCF9E,
    280px 365px 0 #000,
    300px 365px 0 #000,
    320px 365px 0 #FCFE10,
    340px 365px 0 #000,
  -20px 383px 0 #000,
    0px 383px 0 #FBCF02,
    20px 383px 0 #000,
    40px 383px 0 #FCFE10,
    60px 383px 0 #000,
    80px 383px 0 #000,
    100px 383px 0 #000,
    120px 383px 0 #FBCF9E,
    140px 383px 0 #FBCFCC,
    160px 383px 0 #FBCFCC,
    180px 383px 0 #FBCFCC,
    200px 383px 0 #FBCFCC,
    220px 383px 0 #FBCF9E,
    240px 383px 0 #000,
    260px 383px 0 #000,
    280px 383px 0 #000,
    300px 383px 0 #000,
    320px 383px 0 #000,
    -20px 401px 0 #000,
    0px 401px 0 #FBCF02,
    20px 401px 0 #000,
    40px 401px 0 #000,
    60px 401px 0 #000,
    80px 401px 0 #000,
    100px 401px 0 #FFF,
    120px 401px 0 #000,
    140px 401px 0 #000,
    160px 401px 0 #000,
    180px 401px 0 #000,
    200px 401px 0 #000,
    220px 401px 0 #000,
    240px 401px 0 #FFF,
    260px 401px 0 #000,
    280px 401px 0 #000,
    300px 401px 0 #000,
    -80px  419px 0 #000,
    -20px 419px 0 #000,
    0 419px 0 #000,
    20px 419px 0 #FBCF02,
    40px 419px 0 #000,
    60px 419px 0 #FB0000,
    80px 419px 0 #000,
    100px 419px 0 #FFF,
    120px 419px 0 #FFF,
    140px 419px 0 #FFF,
    160px 419px 0 #FBCFCC,
    180px 419px 0 #FBCFCC,
    200px 419px 0 #FFF,
    220px 419px 0 #FFF,
    240px 419px 0 #FFF,
    260px 419px 0 #000,
    280px 419px 0 #FB0000,
    300px 419px 0 #000,
    -100px  437px 0 #000,
    -80px 437px 0 #FBCF02,
    -60px 437px 0 #000,
    -40px 437px 0 #000,
    -20px 437px 0 #FBCF02,
    0 437px 0 #FBCF02,
    20px 437px 0 #000,
    40px 437px 0 #FB0000,
    60px 437px 0 #FB0000,
    80px 437px 0 #FB0000,
    100px 437px 0 #000,
    120px 437px 0 #000,
    140px 437px 0 #000,
    160px 437px 0 #FFF,
    180px 437px 0 #FFF,
    200px 437px 0 #000,
    220px 437px 0 #000,
    240px 437px 0 #000,
    260px 437px 0 #FB0000,
    280px 437px 0 #FB0000,
    300px 437px 0 #FB0000,
    320px 437px 0 #000,
     -100px 455px 0 #000,
    -80px 455px 0 #FBCF02,
    -60px 455px 0 #FBCF02,
    -40px 455px 0 #FBCF02,
    -20px 455px 0 #000,
    0 455px 0 #000,
    20px 455px 0 #FB0000,
    40px 455px 0 #FB0000,
    60px 455px 0 #95002F,
    80px 455px 0 #FB0000,
    100px 455px 0 #000,
    120px 455px 0 #7F7F7F,
    140px 455px 0 #000,
    160px 455px 0 #7F7F7F,
    180px 455px 0 #7F7F7F,
    200px 455px 0 #000,
    220px 455px 0 #7F7F7F,
    240px 455px 0 #000,
    260px 455px 0 #FB0000,
    280px 455px 0 #95002F,
    300px 455px 0 #FB0000,
    320px 455px 0 #FB0000,
    340px 455px 0 #000,
    -100px 473px 0 #000,
    -80px 473px 0 #FBCF02,
    -60px 473px 0 #FBCF02,
    -40px 473px 0 #000,
    -20px 473px 0 #FFF,
    0 473px 0 #000,
    20px 473px 0 #FB0000,
    40px 473px 0 #95002F,
    60px 473px 0 #000,
    80px 473px 0 #FB0000,
    100px 473px 0 #000,
    120px 473px 0 #7F7F7F,
    140px 473px 0 #FFF,
    160px 473px 0 #000,
    180px 473px 0 #000,
    200px 473px 0 #FFF,
    220px 473px 0 #7F7F7F,
    240px 473px 0 #000,
    260px 473px 0 #FB0000,
    280px 473px 0 #000,
    300px 473px 0 #95002F,
    320px 473px 0 #FB0000,
    340px 473px 0 #000,
    -80px 491px 0 #000,
    -60px 491px 0 #000,
    -20px 491px 0 #000,
    0 491px 0 #FB0000,
    20px 491px 0 #FB0000,
    40px 491px 0 #95002F,
    60px 491px 0 #000,
    80px 491px 0 #FB0000,
    100px 491px 0 #000,
    120px 491px 0 #7F7F7F,
    140px 491px 0 #FFF,
    160px 491px 0 #000,
    180px 491px 0 #000,
    200px 491px 0 #FFF,
    220px 491px 0 #7F7F7F,
    240px 491px 0 #000,
    260px 491px 0 #FB0000,
    280px 491px 0 #000,
    300px 491px 0 #95002F,
    320px 491px 0 #FB0000,
    340px 491px 0 #FB0000,
    360px 491px 0 #000,
    -20px 509px 0 #000,
    0 509px 0 #FB0000,
    20px 509px 0 #FB0000,
    40px 509px 0 #95002F,
    60px 509px 0 #000,
    80px 509px 0 #FB0000,
    100px 509px 0 #000,
    120px 509px 0 #FFF,
    140px 509px 0 #000,
    160px 509px 0 #000,
    180px 509px 0 #000,
    200px 509px 0 #000,
    220px 509px 0 #FFF,
    240px 509px 0 #000,
    260px 509px 0 #FB0000,
    280px 509px 0 #000,
    300px 509px 0 #95002F,
    320px 509px 0 #FB0000,
    340px 509px 0 #FB0000,
    360px 509px 0 #000,
    -40px 527px 0 #000,
    -20px 527px 0 #FB0000,
    0 527px 0 #FB0000,
    20px 527px 0 #FB0000,
    40px 527px 0 #95002F,
    60px 527px 0 #000,
    80px 527px 0 #FB0000,
    100px 527px 0 #000,
    120px 527px 0 #FFF,
    140px 527px 0 #000,
    160px 527px 0 #000,
    180px 527px 0 #000,
    200px 527px 0 #000,
    220px 527px 0 #FFF,
    240px 527px 0 #000,
    260px 527px 0 #FB0000,
    280px 527px 0 #000,
    300px 527px 0 #95002F,
    320px 527px 0 #FB0000,
    340px 527px 0 #FB0000,
    360px 527px 0 #FB0000,
    380px 527px 0 #000,
    -60px 545px 0 #000,
    -40px 545px 0 #000,
    -20px 545px 0 #FB0000,
    0 545px 0 #FB0000,
    20px 545px 0 #95002F,
    40px 545px 0 #000,
    60px 545px 0 #FB0000,
    80px 545px 0 #FB0000,
    100px 545px 0 #000,
    120px 545px 0 #FFF,
    140px 545px 0 #000,
    160px 545px 0 #000,
    180px 545px 0 #000,
    200px 545px 0 #000,
    220px 545px 0 #FFF,
    240px 545px 0 #000,
    260px 545px 0 #FB0000,
    280px 545px 0 #FB0000,
    300px 545px 0 #000,
    320px 545px 0 #95002F,
    340px 545px 0 #FB0000,
    360px 545px 0 #FB0000,
    380px 545px 0 #000,
    400px 545px 0 #000,
    -60px 563px 0 #000,
    -40px 563px 0 #FFF,
    -20px 563px 0 #000,
    0 563px 0 #95002F,
    20px 563px 0 #95002F,
    40px 563px 0 #000,
    60px 563px 0 #FB0000,
    80px 563px 0 #FB0000,
    100px 563px 0 #000,
    120px 563px 0 #FFF,
    140px 563px 0 #966200,
    160px 563px 0 #966200,
    180px 563px 0 #966200,
    200px 563px 0 #966200,
    220px 563px 0 #FFF,
    240px 563px 0 #000,
    260px 563px 0 #FB0000,
    280px 563px 0 #FB0000,
    300px 563px 0 #000,
    320px 563px 0 #95002F,
    340px 563px 0 #95002F,
    360px 563px 0 #000,
    380px 563px 0 #FFF,
    400px 563px 0 #000,
    -60px 581px 0 #000,
    -40px 581px 0 #FFF,
    -20px 581px 0 #000,
    0 581px 0 #95002F,
    20px 581px 0 #95002F,
    40px 581px 0 #000,
    60px 581px 0 #FB0000,
    80px 581px 0 #FB0000,
    100px 581px 0 #000,
    120px 581px 0 #000,
    140px 581px 0 #000,
    160px 581px 0 #000,
    180px 581px 0 #000,
    200px 581px 0 #000,
    220px 581px 0 #000,
    240px 581px 0 #000,
    260px 581px 0 #FB0000,
    280px 581px 0 #FB0000,
    300px 581px 0 #000,
    320px 581px 0 #95002F,
    340px 581px 0 #95002F,
    360px 581px 0 #000,
    380px 581px 0 #FFF,
    400px 581px 0 #000,
    -40px 599px 0 #000,
    -20px 599px 0 #000,
    0 599px 0 #000,
    20px 599px 0 #000,
    40px 599px 0 #FB0000,
    60px 599px 0 #FB0000,
    80px 599px 0 #95002F,
    100px 599px 0 #000,
    120px 599px 0 #7F7F7F,
    140px 599px 0 #7F7F7F,
    160px 599px 0 #000,
    180px 599px 0 #000,
    200px 599px 0 #7F7F7F,
    220px 599px 0 #7F7F7F,
    240px 599px 0 #000,
    260px 599px 0 #95002F,
    280px 599px 0 #FB0000,
    300px 599px 0 #FB0000,
    320px 599px 0 #000,
    340px 599px 0 #000,
    360px 599px 0 #000,
    380px 599px 0 #000,
    20px 617px 0 #000,
    40px 617px 0 #FB0000,
    60px 617px 0 #FB0000,
    80px 617px 0 #95002F,
    100px 617px 0 #000,
    120px 617px 0 #7F7F7F,
    140px 617px 0 #7F7F7F,
    160px 617px 0 #000,
    180px 617px 0 #000,
    200px 617px 0 #7F7F7F,
    220px 617px 0 #7F7F7F,
    240px 617px 0 #000,
    260px 617px 0 #95002F,
    280px 617px 0 #FB0000,
    300px 617px 0 #FB0000,
    320px 617px 0 #000,
    20px  635px 0 #000,
    40px  635px 0 #FB0000,
    60px  635px 0 #95002F,
    80px  635px 0 #95002F,
    100px 635px 0 #000,
    120px 635px 0 #7F7F7F,
    140px 635px 0 #000,
    160px 635px 0 #000,
    180px 635px 0 #000,
    200px 635px 0 #000,
    220px 635px 0 #7F7F7F,
    240px 635px 0 #000,
    260px 635px 0 #95002F,
    280px 635px 0 #95002F,
    300px 635px 0 #FB0000,
    320px 635px 0 #000,
    20px  653px 0 #000,
    40px  653px 0 #95002F,
    60px  653px 0 #95002F,
    80px  653px 0 #95002F,
    100px 653px 0 #000,
    120px 653px 0 #7F7F7F,
    140px 653px 0 #000,
    160px 653px 0 #000,
    180px 653px 0 #000,
    200px 653px 0 #000,
    220px 653px 0 #7F7F7F,
    240px 653px 0 #000,
    260px 653px 0 #95002F,
    280px 653px 0 #95002F,
    300px 653px 0 #95002F,
    320px 653px 0 #000,
    40px 671px 0 #000,
    60px 671px 0 #95002F,
    80px 671px 0 #95002F,
    100px 671px 0 #000,
    120px 671px 0 #7F7F7F,
    140px 671px 0 #000,
    160px 671px 0 #000,
    180px 671px 0 #000,
    200px 671px 0 #000,
    220px 671px 0 #7F7F7F,
    240px 671px 0 #000,
    260px 671px 0 #95002F,
    280px 671px 0 #95002F,
    300px 671px 0 #000,
    40px 689px 0  #000,
    60px 689px 0  #000,
    80px 689px 0  #000,
    100px 689px 0 #000,
    120px 689px 0 #000,
    140px 689px 0 #000,
    160px 689px 0 #000,
    180px 689px 0 #000,
    200px 689px 0 #000,
    220px 689px 0 #000,
    240px 689px 0 #000,
    260px 689px 0 #000,
    280px 689px 0 #000,
    300px 689px 0 #000,
    20px 707px 0 #000,
    40px 707px 0  #7F7F7F,
    60px 707px 0  #000,
    80px 707px 0  #000,
    100px 707px 0 #000,
    120px 707px 0 #7F7F7F,
    140px 707px 0 #000,
    200px 707px 0 #000,
    220px 707px 0 #7F7F7F,
    240px 707px 0 #000,
    260px 707px 0 #000,
    280px 707px 0 #000,
    300px 707px 0 #7F7F7F,
    320px 707px 0 #000,
    40px 725px 0  #000,
    60px 725px 0  #7F7F7F,
    80px 725px 0  #000,
    100px 725px 0 #7F7F7F,
    120px 725px 0 #7F7F7F,
    140px 725px 0 #000,
    200px 725px 0 #000,
    220px 725px 0 #7F7F7F,
    240px 725px 0 #7F7F7F,
    260px 725px 0 #000,
    280px 725px 0 #7F7F7F,
    300px 725px 0 #000,
    40px 743px 0  #000,
    60px 743px 0  #7F7F7F,
    80px 743px 0  #7F7F7F,
    100px 743px 0 #7F7F7F,
    120px 743px 0 #000,
    140px 743px 0 #000,
    200px 743px 0 #000,
    220px 743px 0 #000,
    240px 743px 0 #7F7F7F,
    260px 743px 0 #7F7F7F,
    280px 743px 0 #7F7F7F,
    300px 743px 0 #000,
    40px 761px 0  #000,
    60px 761px 0  #7F7F7F,
    80px 761px 0  #7F7F7F,
    100px 761px 0 #7F7F7F,
    120px 761px 0 #000,
    140px 761px 0 #000,
    200px 761px 0 #000,
    220px 761px 0 #000,
    240px 761px 0 #7F7F7F,
    260px 761px 0 #7F7F7F,
    280px 761px 0 #7F7F7F,
    300px 761px 0 #000,
    20px 779px 0  #000,
    40px 779px 0  #7F7F7F,
    60px 779px 0  #7F7F7F,
    80px 779px 0  #7F7F7F,
    100px 779px 0 #000,
    120px 779px 0 #000,
    220px 779px 0 #000,
    240px 779px 0 #000,
    260px 779px 0 #7F7F7F,
    280px 779px 0 #7F7F7F,
    300px 779px 0 #7F7F7F,
    320px 779px 0 #000,
    20px 797px 0 #000,
    40px 797px 0  #000,
    60px 797px 0  #000,
    80px 797px 0  #000,
    100px 797px 0 #000,
    120px 797px 0 #000,
    220px 797px 0 #000,
    240px 797px 0 #000,
    260px 797px 0 #000,
    280px 797px 0 #000,
    300px 797px 0 #000,
    320px 797px 0 #000,
    40px 815px 0  #000,
    60px 815px 0  #000,
    80px 815px 0  #000,
    100px 815px 0 #000,
    240px 815px 0 #000,
    260px 815px 0 #000,
    280px 815px 0 #000,
    300px 815px 0 #000;
    margin-left: 325px;
}
